/*!
 * 3D Falling Leaves
 */
 body{
 	background-color: #FFFAF0;
 	font-family: 'Abril Fatface', cursive;

 }

.october-leaf {
    position: absolute;
    background-color: transparent;
    background-image: url('leaves.png');
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

span{
	font-size: 30px;
	color: #A00000 ;

}

.well{
	float: right;
	width: 200px;
	font-size: 30px;
	margin-top: 520px;
	background: #FFFAF0;
	border:0;
}

.jumbotron{
	padding-top: 300px;
	padding-bottom: 300px;
	text-align: center;
	height: 500px
}

img{
	width: 600px;
	height:600px;
}

#startPage{
	/*border-radius: 50px;
*/	background-image: url('http://i.imgur.com/jAYX3tN.jpg?2');
	text-align: center;
	color:white;
	width: 700px;
	height: 700px;
	padding: 200px;
	position:relative;
	border-radius: 50%;

}

.btn{
	background: grey;
	margin: 20px;
}