/*!
 * 3D Falling Leaves
 */
 body{
 	background-color: #F0EAD6;

 }

.october-leaf {
    position: absolute;
    background-color: transparent;
    background-image: url('leaves.png');
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

span{
	font-size: 30px;
	color: #A00000 ;

}

.well{
	float: right;
	width: 200px;
	font-size: 30px;
	margin-top: 520px;
}